# jekyll
.jekyll-metadata
_site
.sass-cache
.jekyll-cache


# bundler
*.gem
Gemfile.lock


# python
*.whl


# npm
node_modules
package-lock.json


# lighthouse
*.report.html


# action
changelog.report.md